extends layout 

block content 

    h1(style="font-family: 'PT Sans', sans-serif") #{client['fname'] + ' ' + client['lname']}
        h4 Balance: $ #{parseFloat(client.balance.toString()).toFixed(2)}
        
    
    if events.length == 0
    
    table.table.highlight.centered(height=200 style="table-layout: fixed;") Events
        
        if events.length == 0
            tr(height=200) 
                th(style="text-align: center;") No events logged for this client 
        else
            tr(height=50)
                th Date 
                th Type 
                th Time  
                th Amount
                
            
            each e in events 
                tr(height=50)
                    th= moment(e.date).format("MMM Do YY")
                    th= e.type
                    th= e.duration 
                    th= '$ '+ e.amount


    h4 Add an event
    form(action=`/user/client/${client._id}/addsession` method="post")
        div.form-group
            label.sr-only Date 
            input.form-control(type="date" name="date" placeholder="date")     
        div.form-group
            label.sr-only(placeholder="type") Type 
            input.form-control(type="text" name="type" placeholder="type")   
        div.form-group
            label.sr-only Time 
            input.form-control(type="number" step=0.1 name="time" placeholder="duration") 
        div.form-group
            label.sr-only Rate 
            input.form-control(type="number" name="rate" placeholder="rate")
        div(class="mb-3") 
            input(type="submit", value="Create Event" class="btn btn-secondary center") 
            
