extends layout 

block content 

    h1(style="font-family: 'PT Sans', sans-serif") Here is #{client['fname']}'s page
        
    table.table.table-striped Sessions 
        tr
            th Date 
            th Type 
            th Time 
            th Charge  
            th Amount
        
        each e in events 
            tr
                th= moment(e.date).format("MMM Do YY")
                th= e.type
                th= e.time
                th= e.duration 
                th= e.amount


    h2 Add an event
    form(action=`/user/client/${client._id}/addsession` method="post")
        div.form-group
            label.sr-only Date 
            input.form-control(type="date" name="date" placeholder="date")     
        div.form-group
            label.sr-only(placeholder="type") Type 
            input.form-control(type="text" name="type" placeholder="type")   
        div.form-group
            label.sr-only Time 
            input.form-control(type="number" name="time" placeholder="duration") 
        div.form-group
            label.sr-only Rate 
            input.form-control(type="number" name="rate" placeholder="rate")
        div(class="mb-3") 
            input(type="submit", value="Create Event" class="btn btn-secondary center") 
            
