extends layout

block content

    h1 Preferences 
    p Statement Header Info 
    form(action=`update-info/${user._id}` method='post')
        .md-form.d-flex-column.justify-content-center.align-content-center.gap-3
            .form-outline.mb-5    
                input.form-control(type="text", name="nameForHeader" placeholder=`${user.nameForHeader}`)
                label.form-label Name
            .form-outline.mb-5    
                input.form-control(type="text", name="street", placeholder=`${user.street}`)
                label.form-label Street Address
            .form-outline.mb-5    
                input.form-control(type="text", name="city", placeholder=`${user.city}`)
                label.form-label City
            .md-form.d-inline-flex.gap-3
                .form-outline.mb-5    
                    input.form-control(type="text", name="state" placeholder=`${user.state}`)
                    label.form-label State   
                .form-outline.mb-5    
                    input.form-control(type="text", name="zip" placeholder=`${user.zip}`)
                    label.form-label Zip Code   
            .form-outline.mb-5
                input.form-control(type="tel", name="phone" placeholder=`${user.phone}`)
                label.form-label Phone # 
            .md-form.d-inline-flex.gap-5 
                input.btn.btn-primary(type="submit" value="Save Info")
                a.btn.btn-secondary(href="/user/logout") Logout
